.group__container {
  display: grid;
  max-width: calc(50% - 50px * 2);
  margin: 40px 0 0 50px;
  background-color: white;
  border-radius: 10px;
  grid-template-columns: repeat(2, minmax(1fr, max-content));
  row-gap: 10px;
  column-gap: 30px;
}

.group__image {
  border-radius: 50%;
  margin: 20px 10px 0;
}

.group__info {
  max-width: 300px;
  margin: auto;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}

.group__price {
  background-color: lightgreen;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  margin: 0;
}
